/* Footer 字体加粗 */
#footer-type-tips {
  font-weight: bold;
}

/* 顶部 Banner 阴影 */
.topGroup .todayCard::after {
  box-shadow: 0 -109px 133px -9px rgb(255 115 115 / 15%) inset;
}

/* 隐藏右下角按钮 */
#rightside {
  display: none;
}

/* 隐藏 AI 摘要下方按钮 */
.ai-btn-box {
  display:none;
}